<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The sauces</h1>
        <ul>
    <% sauces.forEach(sauce => { %>
        <li>
        <strong><%= sauce.name %></strong> Type: <%= sauce.type %>
        <form method="POST" action="/delete" style="display:inline;">
            <input type="hidden" name="id" value="<%= sauce.id %>" />
            <button type="submit">Delete</button>
        </form>
        </li>
    <% }) %>
    </ul>

  <h2>Add sauce</h2>
  <form method="post" action="/">
    <input type="text" name="brand" placeholder="Brand Name" required />
    <input type="text" name="spice" placeholder="Spice Level" required />
    <button type="submit">Submit</button>
  </form>

</body>
</html>